# Ignore all files and folders except the highlighted ones

# Ignore all files and folders by default
*

# Allow specific files and folders
!.gitignore
!README.md
!requirements.txt
!config.py
!cuda_test.py
!machineL.py
!main.py
!model_training_avgRatings.py
!model_training_descriptions.py
!model_training_user_interc.py
!data/updated_dataset
!data/book_model.py
!data/models.py
!frontE/styles
!frontE/explorer.py
!frontE/homePage.py
!frontE/library.py
!frontE/login.py
!frontE/register.py
!recommendations_serv/app/fictional_dataPrep.py
!recommendations_serv/app/data_preparation.py
!recommendations_serv/requirements.txt
